body, html {
    background-color: rgb(29, 36, 36);
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
    color: white;
}

html {
    scroll-behavior: smooth;
}


.outer-container{
    border: 5px solid black;
    width: 360px;     
    height: 640px;   

}

.inner-container{
    width: 360px;          
    height: 640px; 
    border: 2px solid red;


}

.album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.album img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

/* Fullscreen viewer */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.lightbox img {
    max-width: 95%;
    max-height: 95%;
    border-radius: 12px;
}


 #qrcode-container {
      display: flex;
      justify-content: center;
      margin: 30px 0;
    }

@media (max-width: 768px){
    .ptext { font-size: 1.5rem; letter-spacing: 4px; padding: 15px 10px; }
    .section-front.expanded { max-height: 70vh; }
    }

