body, html {
    background-color: rgb(29, 36, 36);
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
    color: white;
}

html {
    scroll-behavior: smooth;
}


.outer-container{
    position: relative;
    width: 80vw;
    max-width: 320px;
    aspect-ratio: 2 / 3;
    background-color: #2b2b2b;
    border-radius: 14px;
    margin: 40px auto;
    box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}

.outer-container::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 0;
    width: 4px;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.flower {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #f5deb3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.petal {
  position: absolute;
  width: 60px;
  height: 25px;
  background: radial-gradient(circle at left, wheat 60%, transparent 70%);
  border-radius: 50% 50% 50% 50%;
  top: 0;
  left: 50%;
  transform-origin: left center;
  opacity: 0;
   transform: rotate(var(--rot)) scale(0.2);
  animation: petal-bloom 4s infinite ease-in-out;
}
.petal:nth-child(1) { --rot: 0deg; }
.petal:nth-child(2) { --rot: 60deg; }
.petal:nth-child(3) { --rot: 120deg; }
.petal:nth-child(4) { --rot: 180deg; }
.petal:nth-child(5) { --rot: 240deg; }
.petal:nth-child(6) { --rot: 300deg; }

@keyframes petal-bloom {
  0% {
    transform: rotate(var(--rot)) scale(0.2);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: rotate(var(--rot)) scale(1);
    opacity: 0.9;
  }
  100% {
    transform: rotate(var(--rot)) scale(1.2);
    opacity: 0;
  }
}
.cover-title{
 font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 3vh;
  color: wheat;
  text-align: center;
  z-index: 3;
  position: relative;
}

/* 
.album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.album img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}


.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.lightbox img {
    max-width: 95%;
    max-height: 95%;
    border-radius: 12px;
} */


 #qrcode-container {
      display: flex;
      justify-content: center;
      margin: 30px 0;
    }

@media (max-width: 768px){
    .ptext { font-size: 1.5rem; letter-spacing: 4px; padding: 15px 10px; }
    .section-front.expanded { max-height: 70vh; }
    }

